<mat-progress-bar mode="determinate" color="accent" [value]="value"></mat-progress-bar>
<div class="">
  <div class="row mt-3">
    <div class="col-2">
    </div>
    <div class="col-10">
      <app-search ></app-search>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <app-toolbar></app-toolbar>
    </div>
    <div class="col-10">
      <app-list></app-list>
    </div>
  </div>
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-10">

    </div>
  </div>
</div>

<app-modal></app-modal>

